:root {
    --highlight-color: #7393c0;
    --washedout-color: #e2e0de;
}

body {
    max-width: 1200px;
}

#tabular {
    section {
        padding-bottom: 1.5rem;

        h1 {
            margin: 1rem 0;
        }

        hr {
            color: var(--highlight-color);
        }
    }

    #title {
        h1 {
            font-size: 4rem;
        }
    }
}

p {
    margin: 0;
}

#warning {
    color: red;
}

#cv {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 1rem;
}

#personal {
    background-color: var(--washedout-color);
    height: max(100vh, 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 1rem 0 0 2rem;

    text-align: left;

    h1 {
        margin-bottom: 0;
    }

    > * {
        width: 100%;
    }

    .headshot {
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
        padding-right: 2rem;
    }

    address {
        font-style: normal;

        * > img {
            width: 0.8rem;
            aspect-ratio: 1;
            padding-right: 5px;
        }

        * a {
            text-decoration: none;
            color: black;
        }
    }

    #skills {
        & > ul {
            padding: 0;
            list-style: none;

            & > li {
                padding-bottom: 1rem;
            }
        }
    }
}

.timeline {
    list-style-type: disc;

    .timeline-entry {
        margin-bottom: 1rem;
    }

    ::marker {
        color: var(--highlight-color);
    }

    .timeline-entry-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 1rem 0;
    }

    .timeline-entry-title {
        font-weight: bold;
    }

    .timeline-entry-company {
        font-style: italic;
    }

    .timeline-entry-date {
        color: gray;
    }

    .timeline-entry-description {
        p {
            margin: 1rem 0;
        }
        li {
            margin-top: 0.7rem;
        }
    }
}
